APP_NAME="URL Shortener"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://example.com
APP_TIMEZONE=UTC

APP_PROTECTION=false
APP_PASSWORD=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=your_database
DB_USERNAME=your_username
DB_PASSWORD=your_password

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
