@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

$body-bg: #e4eaf1;
$font-family-sans-serif: 'Roboto', sans-serif;

$pagination-color: #212529;
$pagination-focus-color: #131517;
$pagination-hover-color: #131517;
$pagination-active-bg: #212529;

@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

.btn, .pagination {
    transition: none !important;
}

.page-item:not(.active):not(:first-child):not(:last-child) {
    display: none;
}

@include media-breakpoint-up(md) {
    .page-item {
        display: block !important;
    }
}

.new-url:first-child {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    @extend .bg-success, .text-white;

    & .duosexagesimal-id {
        @extend .bg-primary;
    }

    & .created-at {
        @extend .btn-outline-light;
    }

    & .original-url {
        @extend .text-dark;
    }

    & .shorten-url {
        @extend .text-dark;
    }

    & .visits-counter {
        @extend .bg-dark;
    }

    & .visits-button {
        @extend .btn-outline-light;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-6px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(6px, 0, 0);
    }
}

@for $i from 0 through 4 {
    .min-h-#{( $i * 25 )} {
        min-height: percentage( ( $i * 25 ) / 100 );
    }
}
